<div>
    <h1>Listado productos</h1>
    <ul>
        {{#each producto}}
        <h2>{{this.id.title}}</h2>
        <li>Descripción: {{this.id.description}}</li>
        <li>Precio: {{this.id.price}}</li>
        <li>Stock: {{this.id.stock}}</li>
        <li>Stock: {{this.id._id}}</li>
        {{/each}}
    </ul>
</div>